body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}


.noti-msg {
    font-size: 90%;
}
.logo-img {
    float: left;
    height: 50px;
    width: 50px;
}

.logo-text {
    float: right;
    font-size: 25px;
    height: 50px;
    margin-left: 10px;
    padding-top: 7px;
    color: white;
    font-family: "Arvo", sans-serif;
}

.wrapper {
	background-color: #fff !important;
}
.side-bar {
	padding-top: 10px;
}

.container {
	width: 95%;
}

.new-event-form {
	padding: 20px 20px 20px 20px;
}

.new-event-form > h1 {
    margin-bottom: 10px;
}

.add-event-button {
	padding-top: 20px;
}


