body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}


.noti-msg {
    font-size: 90%;
}
.logo-img {
    float: left;
    height: 50px;
    width: 50px;
}

.logo-text {
    float: right;
    font-size: 25px;
    height: 50px;
    margin-left: 10px;
    padding-top: 7px;
    color: white;
    font-family: "Arvo", sans-serif;
}

.wrapper {
	background-color: #e9ebee !important;
    height: 100vh !important;
}
.side-bar {
	padding-top: 10px;
}

.container {
	width: 95%;
}

.new-event-form {
	padding: 20px 20px 20px 20px;
}

.new-event-form > h1 {
    margin-bottom: 10px;
}

.add-event-button {
	padding-top: 10px;
    padding-left: 0px;
}

.event-detail {
	margin-bottom: 25px;
}

.popover-content {
	padding: 0px;
}

.popover {
	width: 300px;
	border-radius: 0px;
}

.popover-footer {
	padding: 10px;
	margin-bottom: 30px;
}

.button-ctn {
	padding-left: 0px;
}

.box-header {
    padding-bottom: 0px;
}

.checkbox-ctn {
    padding-left: 0px;
}

.checkbox-padding {
    padding-left: 25px;
    padding-top: 0px;
}

.calendar-ctn {
    margin-top: 10px;
}

.inner-ctn {
    padding-right: 15px;
}

.box-info-calendar {
    border: 1px solid #605ca8;
}

.box-info-calendar > .box-header {
    background: #605ca8;
    background-color: #605ca8;
    color: white;
}