<div class="box event-detail" ng-style="{'border-top-color': currentEvent.color}">
            <div class="box-header with-border">
              <h3 class="box-title">{{currentEvent.title}}</h3>
            </div>
            <!-- /.box-header -->
            
              <!-- /.box-body -->
          	<div class="box-body">
          		{{currentEvent.start}}
          	</div>
          	<!-- <div class="box-footer"> -->
                <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
                <button type="submit" class="btn btn-info pull-right" ng-style="{'background-color': currentEvent.color, 'border-color': currentEvent.color}" ng-click="createEvent()">Modify</button>
          	<!-- </div> -->
              <!-- /.box-footer -->   
         </div>