<div class="footer-bottom">
    <div class="container">
        <p class="pull-left"> Technical workshop 2017 project. </p>
        <a href="#" target="_seft" class="pull-right"> Back to top </a>
    </div>
</div>




<!-- <div class="footer">
    <p>Project for Technical Workshop course - 2017</p>
    <nav class="navbar navbar-static-top">
    	<div class="container">
    		<div class="navbar-header">
                <a href="/" class="navbar-brand">This is <b>Logo</b></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
    	</div>
    </nav>
</div>
 -->