<form name="eventForm" class="new-event-form form-horizontal">
	<h2 class="text-center">Create an event</h2>

	<div class="form-group">
		<label class="col-md-2 control-lable">Title</label>
		<div class="col-md-10">
			<input type="text" class="form-control" ng-model="newEvent.title" ng-required="true">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-lable">Start time</label>
		<div class="col-md-3">
			<input type="text" class="form-control" uib-datepicker-popup ng-model="newEvent.startDate" is-open="startDatePickerOpened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" >
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-default" ng-click="toggleStartDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
		</div>
		<div class="col-md-3" ng-hide="newEvent.allDay">
			<input type="time" class="form-control" ng-model="newEvent.startTime" ng-required="!allDay">	
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-lable">End time</label>
		<div class="col-md-3">
			<input type="text" class="form-control" uib-datepicker-popup ng-model="newEvent.endDate" is-open="endDatePickerOpened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" >
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-default" ng-click="toggleEndDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
		</div>
		<div class="col-md-3" ng-hide="newEvent.allDay">
			<input type="time" class="form-control" ng-model="newEvent.endTime" ng-required="!allDay">	
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-lable">All day</label>
		<div class=col-md-10>
			<input type="checkbox" ng-model="newEvent.allDay">
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-lable">Description</label>
		<div class="col-md-10">
			<textarea rows="3" class="form-control" ng-model="newEvent.description"></textarea> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-lable">Color</label>
		<div class="col-md-10">
			<ul class="fc-color-picker" id="color-chooser">
	          <li ng-repeat="color in colors"><a ng-class="'text-'+color" ng-click="changeColor(color)"><i class="fa fa-square"></i></a></li>
	        </ul>
        </div>
	</div>
	
	<button class="btn btn-primary" ng-style="{'background-color': color, 'border-color': color}" ng-click="addEvent()">Add</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</form>
